<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>Header}}
        <h1>{{errorMessage}}</h1>
        Doubt-h1 tag doesnt work for the line below
        {{>Footer}}
    </body>
</html>