<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>Header}}
        <form>
            <input placeholder="location">
            <button>Search</button>
        </form>
        <p id="messegeOne"></p>
        <p id="messegeTwo"></p>
        </div>
        {{>Footer}}
        <script src="/js/app.js"></script>
    </body>
</html>